.api{
    
   width: 100%;
   gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
  
   
   
    
}
*::-webkit-scrollbar{
    display: none;
}
.product{
    max-width: 300px;
    text-align: center;
    border: 3px solid gray;
    padding: 10px;
   border-radius: 10px;
   /* max-height: 400px; */
  
    
}
img{
    width: 150px;
    height: 150px;
    text-align: center;
}
.des{
    max-width: 250px;
}